# Ignore Python cache files
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore all .env files (even in subfolders)
**/.env

# Ignore the virtual environment folder (root and subfolders)
venv/
**/venv/
